#include "Secrets.h"

const char* const configuredWiFiSsid = "SUA_REDE_WIFI";
const char* const configuredWiFiPassword = "SUA_SENHA_WIFI";
const char* const configuredSpotifyClientId = "SEU_SPOTIFY_CLIENT_ID";
